<div class="item-container">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <% items.forEach(function(item){ %>
            <div class="col-4">
                <div class="card">
                    <img src="images/croissants.jpg" class="card-img-top" alt="Product Image">
                    <div class="card-body">
                        <div class="row">
                            <h5 class="card-title">
                                <%= item.name %>
                            </h5>
                            <p class="card-text">
                                <%= item.description %>
                            </p>
                            <h5 class="card-item-price">
                                € <%= item.price %>
                            </h5>
                        </div>
                        <div class="row">
                            <span :id="<%= item.id %>" class="btn button-17 btn-secondary" @click="test">In
                                den
                                Warenkorb</span>
                        </div>
                        <div class="row ">
                            <div class="nav-card-container">
                                <div class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                        aria-expanded="false">Weitere Optionen</a>
                                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <li>
                                            <td><a class="dropdown-item" href="/item/<%= item.id %>">Produkt
                                                    anzeigen</a></td>
                                        </li>
                                        <li>
                                            <td><a class="dropdown-item" href="/item/<%= item.id %>/edit">Produkt
                                                    bearbeiten</a>
                                            </td>
                                        </li>
                                        <li>
                                            <td><a class="dropdown-item" href="/item/<%= item.id %>/destroy">Produkt
                                                    löschen</a>
                                            </td>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <% }); %>
    </div>
    <div class="add-item-container">
        <div class="row">
            <div>
                <a class="button-17" href="/item/new" role="button" aria-expanded="false">
                    Produkt hinzufügen
                </a>
            </div>
        </div>
    </div>
</div>